body {
	margin: 0;
	padding: 0;
	background: url("../img/bg1.jpg") no-repeat center top;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}

.registrar{
	width: 320px;
	height: 500px;
	background-color: #424242;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.registrar h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 30px; 
}
.registrar label{
	margin:0;
	padding: 0;
	font-weight: bold;
	display: block; 
}

.registrar input{
	width: 100%;
	margin-bottom: 20px;
}

.registrar input[type="text"],
.registrar input[type="number"],
.registrar input[type="password"]{
	width: 100%;
	border-bottom:20px; 
	border:none;
	border-bottom: 1px solid  #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.registrar input[type="submit"]{
	width: 90px;
}