<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ha cerca de..</title>
	<link rel="stylesheet" href="../../assets/css/menu.css">
	<style type="text/css">
	.cerca{
		margin-left: 20%;
		width: 60%;
		background-color: #EEEEEE;
	}
	#h1{
		text-align: center;
	}
	#foto{
		border-radius: 100%;
		width: 15%;
		height: 15%;
	}
	

</style>
</head>
<body>
	<nav class="navegar">
		<ul class="menu">
			<li><a href="cercade.html">Ha cerca de..</a></li>
			<li><a href="kardex.html">Kardex</a></li>
			<li><a href="misusuarios.php">Mis usuarios</a></li>
			<li><a href="login.html">Salir</a></li>
		</ul>
	</nav>
	<div class="cerca">
		<h1 id="h1">BLOG DE JERO</h1>
		<center><img src="../../assets/img/foto.jpg" id="foto"></center>
		<p>&nbspMi nombre es Jeronimo Cornelio Ibarra Hernández, Soy estudiante del Instituto tecnológico de Zacatecas, curso el quiento semestre de Ingeniería
			&nbspen Sistemas Computacionales.<br>
			&nbspMe gusta mucho la programación por ello realice este pequeño blos el cual espero les guste.
		</p>
		<center><img src="../../assets/img/programar.jpg" id="programar" align="center"></center><br><br>
		<footer id="footer">
			<center><p>Contactame:<br>
				<a href="https://www.facebook.com/?stype=lo&jlou=AfcPgLvWRw7aInNnRk1-m4TOK00rs-jBQdDgYdsBc2NiFVJZoMYkvKeZaiJX_baG9cItwpPl5tBGirBMjak4UGZlXpnHI7d15fhMG_3ikppabQ&smuh=31225&lh=Ac-4PNWSfzWiH3-l">Facebook</a><br>
				Whatsapp:<br>
			4571061650</p></center>
		</footer>
	</div>
</body>
</html>