<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cardex</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="../../assets/css/menu.css">
</head>
<style type="text/css">
.losTh{
	border-bottom: solid;
}
#todo{
	margin-left: 20%;
	width: 60%;
	background-color: #EEEEEE;
}
#imagen{
	width: 100%;
	height: 100%;
}
</style>
<body>
	<nav class="navegar">
				<ul class="menu">
					<li><a href="../usuarios/cercade.html">Ha cerca de..</a></li>
					<li><a href="../kardex/kardex.html">Kardex</a></li>
					<li><a href="../usuarios/misusuarios.php">Mis usuarios</a></li>
					<li><a href="../usuarios/login.html">Salir</a></li>
				</ul>
			</nav>
	<div id='todo'>
		<table width="100%">
			<tr align="left">
				<td colspan="3" align="center"><h3>TECNOLÓGICO NACIONAL DE MÉXICO / INSTITUTO TECNOLÓGICO DE ZACATECAS</h3></td>
			</tr>
			<tr>
				<td rowspan="7" width="110" height="140"><img src="../../assets/img/foto.jpg"  id="imagen"></td>
			</tr>
			<tr>
				<td>KARDEX <b>12018</b></td>
			</tr>
			<tr>
				<td><b>16450517</b></td>
			</tr>
			<tr>
				<td>JERONIMO CORNELIO IBARRA HERNÁNDEZ</td>
			</tr>
			<tr>
				<td>INGENIERIA EN SISTEMAS COMPUTACIONALES</td>
			</tr>
			<tr>
				<td>ISIC-2010-224</td>
			</tr>
			<tr>
				<td>SEGURIDAD Y CALIDAD EN EL DESARROLLO DE APLICACIONES</td>
			</tr>
		</table>
		<table width="100%">
			<tr align="center" >
				<th class="losTh">sem</th>
				<th align="left" class="losTh">Materia</th>
				<th class="losTh" align="rigth">Calif.</th>
				<th class="losTh"> </th>
				<th class="losTh">Cred</th>
				<th class="losTh"> </th>
			</tr>

			<tr align="center">
				<td>1</td>
				<td align="left">CALCULO DIFERENCIAL</td>
				<td>87</td>
				<td>Ord</td>
				<td>5</td>
				<td>22016</td>
			</tr>
			<tr align="center">
				<td>1</td>
				<td align="left">FUNDAMENTOS DE PROGRAMACIO</td>
				<td>90</td>
				<td>Ord</td>
				<td>5</td>
				<td>22016</td>
			</tr>
			<tr align="center">
				<td>1</td>
				<td align="left">TALLER DE ETICA</td>
				<td>100</td>
				<td>Ord</td>
				<td>4</td>
				<td>22016</td>
			</tr>
			<tr align="center">
				<td>1</td>
				<td align="left">MATEMATICAS DISCRETAS</td>
				<td>100</td>
				<td>Ord</td>
				<td>5</td>
				<td>22016</td>
			</tr>
			<tr align="center">
				<td>1</td>
				<td align="left">TALLER DE ADMINISTRACIO</td>
				<td>100</td>
				<td>Ord</td>
				<td>4</td>
				<td>22016</td>
			</tr>
			<tr align="center">
				<td>1</td>
				<td align="left">FUNDAMENTOS DE INVESTIGACION</td>
				<td>92</td>
				<td>Ord</td>
				<td>4</td>
				<td>22016</td>
			</tr>
			<tr align="center">
				<td>2</td>
				<td align="left">CALCULO INTEGRAL</td>
				<td>75</td>
				<td>Ord</td>
				<td>5</td>
				<td>12017</td>
			</tr>
			<tr align="center">
				<td>2</td>
				<td align="left">PROGRAMACION ORIENTADA A OBJETOS</td>
				<td>94</td>
				<td>Ord</td>
				<td>5</td>
				<td>12017</td>
			</tr>
			<tr align="center">
				<td>2</td>
				<td align="left">CONTABILIDAD FINANCIERA</td>
				<td>95</td>
				<td>Ord</td>
				<td>4</td>
				<td>12017</td>
			</tr>
			<tr align="center">
				<td>2</td>
				<td align="left">QUIMICA</td>
				<td>85</td>
				<td>Ord</td>
				<td>4</td>
				<td>12017</td>
			</tr>
			<tr align="center">
				<td>2</td>
				<td align="left">ALGEBRA LINEAL</td>
				<td>90</td>
				<td>Ord</td>
				<td>5</td>
				<td>12017</td>
			</tr>
			<tr align="center">
				<td>2</td>
				<td align="left">PROBABILIDAD Y ESTADISTICA</td>
				<td>80</td>
				<td>Ord</td>
				<td>5</td>
				<td>12017</td>
			</tr>
			<tr align="center">
				<td>3</td>
				<td align="left">CALCULO VECTORIAL</td>
				<td>88</td>
				<td>Ord</td>
				<td>5</td>
				<td>22017</td>
			</tr>
			<tr align="center">
				<td>3</td>
				<td align="left">ESTRUCTURA DE DATOS</td>
				<td>83</td>
				<td>Ord</td>
				<td>5</td>
				<td>22017</td>
			</tr>
			<tr align="center">
				<td>3</td>
				<td align="left">CULTURA EMPRESARIAL</td>
				<td>95</td>
				<td>Ord</td>
				<td>4</td>
				<td>22017</td>
			</tr>
			<tr align="center">
				<td>3</td>
				<td align="left">INVESTIGACION DE OPERACIONES</td>
				<td>85</td>
				<td>Ord</td>
				<td>4</td>
				<td>22017</td>
			</tr>
			<tr align="center">
				<td>3</td>
				<td align="left">SISTEMAS OPERATIVOS I</td>
				<td>94</td>
				<td>Ord</td>
				<td>4</td>
				<td>22017</td>
			</tr>
			<tr align="center">
				<td>3</td>
				<td align="left">FISICA GENERAL</td>
				<td>85</td>
				<td>Ord</td>
				<td>5</td>
				<td>22017</td>
			</tr>
			<tr align="center">
				<td>4</td>
				<td align="left">ECUACIONES DIFERENCIALES</td>
				<td>C</td>
				<td>Ord</td>
				<td>5</td>
				<td>12018</td>
			</tr>
			<tr align="center">
				<td>4</td>
				<td align="left">METODOS NUMERICOS</td>
				<td>C</td>
				<td>Ord</td>
				<td>4</td>
				<td>12018</td>
			</tr>
			<tr align="center">
				<td>4</td>
				<td align="left">TOPICOS AVANZADOS DE PROGRAMACION</td>
				<td>C</td>
				<td>Ord</td>
				<td>5</td>
				<td>12018</td>
			</tr>
			<tr align="center">
				<td>4</td>
				<td align="left">FUNDAMENTOS DE BASES DE DATOS</td>
				<td>C</td>
				<td>Ord</td>
				<td>4</td>
				<td>12018</td>
			</tr>
			<tr align="center">
				<td>4</td>
				<td align="left">TALLER DE SISTEMAS OPERATIVOS</td>
				<td>C</td>
				<td>Ord</td>
				<td>4</td>
				<td>12018</td>
			</tr>
			<tr align="center">
				<td>4</td>
				<td align="left">PRINCIPIOS ELECTRICOS Y APLICACIONES DIGITALES</td>
				<td>C</td>
				<td>Ord</td>
				<td>5</td>
				<td>12018</td>
			</td>
			<tr align="center">
				<td>1</td>
				<td align="left">INGLES I</td>
				<td>AC</td>
				<td>Ord</td>
				<td>0</td>
				<td>22016</td>
			</tr>
			<tr align="center">
				<td>3</td>
				<td align="left">INGLES III</td>
				<td>AC</td>
				<td>Ord</td>
				<td>0</td>
				<td>22017</td>
			</tr>
			<tr align="center">
				<td>4</td>
				<td align="left">INGLES IV</td>
				<td align="rigth">C</td>
				<td>Ord</td>
				<td>0</td>
				<td>12018</td>
			</tr>
			<tr align="center">
				<td style="border-bottom: solid;">1</td>
				<td align="left" style="border-bottom: solid;">ACTIVIDADES COMPLEMENTARIAS</td>
				<td style="border-bottom: solid;">AC</td>
				<td style="border-bottom: solid;">Ord</td>
				<td style="border-bottom: solid;">5</td>
				<td style="border-bottom: solid;">22016</td>
			</tr>
		</table>
		<table width="100%"cellpadding="0">
			<tr>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<td>Creditos del Plan <b>260</b>, Créditos Aprobados <b>87</b>, Avance <b>33%</b></td>
				<td style="text-align: right;">Promedio 89.89</td>
				<td style="text-align: right;" width="300"><h5>NA = No Acreditada | C = en curso</h5></td>
			</tr>
			<tr>
				<td>Departamento de servicios escolares</td>
				<td></td>
				<td style="text-align: right;">12-02-2018</td>
			</tr>
		</table>
	</div>
</body>
</html>