<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Calculadora</title>
	<link rel="stylesheet" href="../assets/boostrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/menu.css">
	<script src="../assets/boostrap/js/jquery-3.3.1.min.js"></script>
	<script src="../assets/boostrap/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar sticky-top flex-md-nowrap p-0">
		<a class="navbar col-sm-3 col-md-2 mr-0 " href="#"><img src="../assets/img/logo.png" style="max-width: 100%;"></a>
	</nav>

	<div class="container-fluid" >
		<div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
						<ul class="nav flex-column" style="margin-top: 10px;">
							<li class="nav-item">
								<a class="nav-link" href="calculadora.html" style="color: #B71C1C;">
									<span data-feather="bar-chart-2"></span>
									Calculadora
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link  "href="libros.html">
									<span data-feather="layers"></span>
									Libros
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="servicios">
									<span data-feather="layers"></span>
									Posilogia
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link <" href="?c=presupuestos">
									<span data-feather="file"></span>
									H.C.
								</a>
							</li>
						</ul>
					</div>
				</nav>
				<form class="Formulario-calculadora" style="margin-left: 100px;">
					<div class="form-row col-md-4 col-sm-12 border" style="padding-top: 10px">
						<div class="form-group col-md-12">
							<center><h1 class="text-danger">Calculadora</h1></center>
						</div>
						<div class="form-group col-md-12">
							<label>Medicamento</label>
							<select type="number" class="form-control" align="center">
								<option>Amoxilina</option>
								<option>Paracetamol</option>
								<option>Metamizol</option>
								<option>Lorotadina</option>
							</select>
						</div>
						<div class="form-group col-md-12 ">
							<label>Peso</label>
							<input type="text" class="form-control" placeholder="Peso">
						</div>

						<div class="form-group col-md-12 ">
							<label>Dosis por día</label>
							<input disabled="" type="text" class="form-control">
						</div><br>
						<div class="form-group col-md-12" align="right">
							<button type="submit"  class="btn btn-outline-danger">Calcular</button>
						</div>  
					</div>
				</form>
			</div>
		</div>
	</div>
	


    <!-- Bootstrap core JavaScript
    	================================================== -->
    	<!-- Placed at the end of the document so the pages load faster -->
    	<script src="../assets/js/jquery-3.1.1.min.js"></script>
    	<script src="../assets/js/bootstrap.min.js"></script>
    	<script src="../assets/js/fontawesome-all.js"></script>
    	<!-- Icons -->
    	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    	<script>
    		feather.replace()
    	</script>
    </body>
    </html>