<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Semestre 1</title>
	<link rel="stylesheet" href="../assets/boostrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/libros.css">
	<script src="../assets/boostrap/js/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<style type="text/css">
	#area1{
		margin-left: 20%;
		width: 60%;
		background-color: #EEEEEE;
	}
</style>
</head>
<body>
	<div class="container border roundred">
		<div class="row">
			<div class="col-sm">
				<nav class="navegar">
					<ul class="menu">
						<li><a href="#">1° Semestre</a></li>
						<li><a href="#">2° Semestre</a></li>
						<li><a href="#">3° Semestre</a></li>
						<li><a href="#">4° Semestre</a></li>
						<li><a href="#">5° Semestre</a></li>
						<li><a href="#">6° Semestre</a></li>
						<li><a href="#">7° Semestre</a></li>
						<li><a href="#">8° Semestre</a></li>
						<li><a href="#">9° Semestre</a></li>
						<li><a href="#">10° Semestre</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="area1">
		<label>Hola</label>
	</div>
</body>
</html>